* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 6.25%;
  font-family: "Mulish", sans-serif;

  --colorBaseWite: #fff;
  --colorBaseGray100: #f5f5f5;
  --colorBaseGray300: #8d8d99;
  --colorBaseGray500: #3d3d3d;
  --colorBaseGray900: #202024;
}

body {
  font-size: 20rem;
  background-color: var(--colorBaseWite);
  color: var(--colorBaseGray900);
}

#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
}

.container {
  width: min(1280px, 100%);
  margin: 0 auto;
  padding: 16rem 32rem;
}

main {
  background-color: var(--colorBaseGray100);
  overflow-y: scroll;
  overflow: visible;
  padding-bottom: 64rem;
}

header,
nav,
nav ul {
  display: flex;
  align-items: center;
  gap: 72rem;
  font-weight: 700;
}

header form {
  flex: 1;
}

header form label {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

header form input {
  border: 0;
  background-color: var(--colorBaseGray100);
  color: var(--colorBaseGray500);
  padding: 12rem 16rem;
  width: 100%;
  font-family: "Mulish", sans-serif;
  font-size: 16rem;
  font-weight: 600;
}

header form input::placeholder {
  opacity: 0.56;
  color: var(--colorBaseGray500);
}

nav ul {
  list-style: none;
  font-size: 18rem;
  color: var(--colorBaseGray300);
}

nav ul li:hover {
  color: var(--colorBaseGray900);
}

header img {
  width: 42rem;
  height: 42rem;

  object-fit: cover;
  border-radius: 50%;
}

main .container h1 {
  font-weight: 700;
  font-size: 24rem;
  line-height: 38rem;
  margin-top: 16rem;
}

.gallery {
  display: grid;
  grid-template-areas: "A A A";
  gap: 20rem;

  margin-top: 32rem;
}

.item {
  background-color: var(--colorBaseWite);
  border-radius: 8rem;
  overflow: hidden;
}

.item img {
  aspect-ratio: 16/9;
  object-fit: cover;

  /* transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in; */

  transition: all 300ms ease-out;
}

.item img:hover {
  filter: hue-rotate(7deg) contrast(101%) saturate(200%);
  transform: scale(1.1) rotate(-1deg);
}

.item h2 {
  font-weight: 700;
  font-size: 18rem;
  line-height: 30rem;
}

.details {
  padding: 22rem;
}

.tags {
  margin-top: 1rem;
}

.tags span{
  background-color: var(--colorBaseGray100);
  padding: 8rem;
  border-radius: 6rem;
  font-weight: 400;
  font-size: 12rem;
  line-height: 18rem;
}





footer {
  text-align: center;
  
  font-weight: 600;
  font-size: 16rem;
  line-height: 20rem;
}
